# XGBoost

In [55]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [56]:
dataFrame = pd.read_csv('C:/YAZILIM/03 - Makine Öğrenmesi/09 - XGBoost/00 - Source/Churn_Modelling.csv')

In [57]:
dataFrame = dataFrame.iloc[:, 3:]

In [58]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [59]:
dataFrame

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [60]:
dataFrame1 = dataFrame.apply(LabelEncoder().fit_transform)

In [61]:
dataFrame2 = dataFrame1.iloc[:, 1:2]
f = OneHotEncoder()
dataFrame3 = f.fit_transform(dataFrame2).toarray()

In [62]:
data1 = pd.DataFrame(data=dataFrame3, columns=["France", "Spain", "Germany"])
data2 = pd.concat([data1, dataFrame1.iloc[:, 2:3]], axis=1)
data3 = pd.concat([data2, dataFrame.drop(["Geography", "Gender"], axis = 1)], axis=1)

In [63]:
data3

,France,Spain,Germany,Gender,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1.0,0.0,0.0,0,619,42,2,0.00,1,1,1,101348.88,1
1,0.0,0.0,1.0,0,608,41,1,83807.86,1,0,1,112542.58,0
2,1.0,0.0,0.0,0,502,42,8,159660.80,3,1,0,113931.57,1
3,1.0,0.0,0.0,0,699,39,1,0.00,2,0,0,93826.63,0
4,0.0,0.0,1.0,0,850,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,0.0,0.0,1,771,39,5,0.00,2,1,0,96270.64,0
9996,1.0,0.0,0.0,1,516,35,10,57369.61,1,1,1,101699.77,0
9997,1.0,0.0,0.0,0,709,36,7,0.00,1,0,1,42085.58,1
9998,0.0,1.0,0.0,1,772,42,3,75075.31,2,1,0,92888.52,1
9999,1.0,0.0,0.0,0,792,28,4,130142.79,1,1,0,38190.78,0

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
X_train, X_test,y_train,y_test = train_test_split(data3.iloc[:, :-1], data3.iloc[:, -1:], test_size=0.33, random_state=0)

In [66]:
from xgboost import XGBClassifier

In [67]:
xgboost = XGBClassifier()

In [68]:
xgboost.fit(X_train, y_train)

C:\Users\90545\AppData\Local\Programs\Python\Python38\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\90545\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
[21:52:12] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=2, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [69]:
y_pred = xgboost.predict(X_test)

In [70]:
from sklearn.metrics import confusion_matrix

In [71]:
cm = confusion_matrix(y_pred, y_test)

In [72]:
cm

array([[2475,  322],
       [ 142,  361]], dtype=int64)

In [73]:
from sklearn.model_selection import cross_val_score

In [74]:
success = cross_val_score(estimator=xgboost, X=X_train, y=y_train, cv=4)

C:\Users\90545\AppData\Local\Programs\Python\Python38\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\90545\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
[21:54:31] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[21:54:32] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[21:54:33] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[21:54:34] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [75]:
print("Başarı: ", success.mean())

Başarı:  0.8535820895522388