## MULTIPLE LINEAR REGRESION
--------

### Import Libraries

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Load Data

In [38]:
a1 = pd.read_csv("veriler.csv")
# a1.dropna(inplace = True)

### Data Preprocessing

In [39]:
from sklearn import preprocessing

In [40]:
a2 = a1.apply(preprocessing.LabelEncoder().fit_transform)

In [41]:
from sklearn import preprocessing

In [42]:
a3 = a2.iloc[:, 0:1]

In [43]:
f = preprocessing.OneHotEncoder()

In [44]:
a3 = f.fit_transform(a3).toarray()

In [45]:
b1 = pd.DataFrame(data = a3, index = range(22), columns = ["fr", "us", "tr"])
b2 = pd.concat([b1, a1.iloc[:, 1:4]], axis = 1)
b3 = pd.concat([a2.iloc[:, -1:], b2], axis = 1)

In [46]:
b3

    cinsiyet   fr   us   tr  boy  kilo  yas
0          0  0.0  1.0  0.0  130    30   10
1          0  0.0  1.0  0.0  125    36   11
2          1  0.0  1.0  0.0  135    34   10
3          1  0.0  1.0  0.0  133    30    9
4          0  0.0  1.0  0.0  129    38   12
5          0  0.0  1.0  0.0  180    90   30
6          0  0.0  1.0  0.0  190    80   25
7          0  0.0  1.0  0.0  175    90   35
8          1  0.0  1.0  0.0  177    60   22
9          0  0.0  0.0  1.0  185   105   33
10         1  0.0  0.0  1.0  165    55   27
11         1  0.0  0.0  1.0  155    50   44
12         1  0.0  0.0  1.0  160    58   39
13         1  0.0  0.0  1.0  162    59   41
14         1  0.0  0.0  1.0  167    62   55
15         0  1.0  0.0  0.0  174    70   47
16         0  1.0  0.0  0.0  193    90   23
17         0  1.0  0.0  0.0  187    80   27
18         0  1.0  0.0  0.0  183    88   28
19         1  1.0  0.0  0.0  159    40   29
20         1  1.0  0.0  0.0  164    66   32
21         1  1.0  0.0  0.0  166    56   42

### Split Data

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
x_test, x_train, y_test, y_train = train_test_split(b3.iloc[:, :-1], b3.iloc[:, -1:])

### Linear Regression

In [49]:
from sklearn.linear_model import LinearRegression

In [50]:
d = LinearRegression()

In [51]:
d.fit(x_train, y_train)

LinearRegression()

In [52]:
tahmin = d.predict(x_test)

In [53]:
tahmin

array([[ 13.01219512],
       [ 41.8902439 ],
       [ -5.85365854],
       [ 36.23170732],
       [ -4.76829268],
       [-13.04878049],
       [ 24.3902439 ],
       [ -3.17073171],
       [ 29.53658537],
       [ 42.7804878 ],
       [ 39.54878049],
       [ 39.13414634],
       [ 37.06097561],
       [ 39.75609756],
       [ 13.35365854],
       [ 13.7804878 ]])